 <!--<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inmobiliario 360°</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/slick.css">
        <link rel="stylesheet" type="text/css" href="css/nouislider.css">
        <link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css"
        media="screen" />
        <link id="switcher" href="css/theme-color/default-theme.css"
        rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Vollkorn'
        rel='stylesheet' type='text/css'>
    </head>
    <body class="aa-price-range">
        <div id="aa-preloader-area">
            <div class="pulse"></div>
        </div>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>-->

        <!-- Start header section -->
        <header id="aa-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-area">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="aa-header-right">
                                        <a href="/signup" class="aa-register">Registro</a>
                                        <a href="/signin" class="aa-login">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End header section -->

        <!-- Start menu section -->
        <section id="aa-menu-area">
            <nav class="navbar navbar-default main-navbar" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                        <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- LOGO -->
                        <!-- Text based logo -->
                        <a class="navbar-brand aa-logo" href="/"> Inmobiliaria <span>360°</span></a>
                        <!-- Image based logo -->
                        <!-- <a class="navbar-brand aa-logo-img" href="index.html"><img src="img/logo.png" alt="logo"></a> -->
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul id="top-menu" class="nav navbar-nav navbar-right
                            aa-main-nav">
                            <li class="active"><a href="/">INICIO</a></li>
                            <li><a href="/inmuebles">INMUEBLES</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">REGISTRO <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/signin">INICIAR SESIÓN</a></li>
                                    <li><a href="/signup">REGISTRARSE</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </section>
        <!-- End menu section -->

        <!-- Start slider  -->
        <section id="aa-slider">
            <div class="aa-slider-area">
                <!-- Top slider -->
                <div class="aa-top-slider">
                    <!-- Top slider single slide -->
                    <div class="aa-top-slider-single">
                        <img src="img/slider/Slider.jpg" alt="img">
                        <!-- Top slider content 
                        <div class="aa-top-slider-content mx-auto text-center">
                            <span class="aa-top-slider-catg">Encuentra tu hogar ideal</span>
                            <h2 class="aa-top-slider-title">1560 Square Feet</h2>
                            <p class="aa-top-slider-location"><i class="fa
                                    fa-map-marker"></i>Quito, Ecuador</p>
                            <span class="aa-top-slider-off">30% OFF</span>
                            <p class="aa-top-slider-price">$460,000</p>
                            <a href="#" class="aa-top-slider-btn">Read More <span
                                    class="fa fa-angle-double-right"></span></a>
                        </div>-->
                        <!-- / Top slider content -->
                    </div>
                    <!-- / Top slider single slide -->
                    <!-- Top slider single slide -->
                    <div class="aa-top-slider-single">
                        <img src="img/slider/2.jpg" alt="img">
                        <!-- Top slider content 
                        <div class="aa-top-slider-content">
                            <span class="aa-top-slider-catg">Duplex</span>
                            <h2 class="aa-top-slider-title">1560 Square Feet</h2>
                            <p class="aa-top-slider-location"><i class="fa
                                    fa-map-marker"></i>Quito, Ecuador</p>
                            <span class="aa-top-slider-off">30% OFF</span>
                            <p class="aa-top-slider-price">$460,000</p>
                            <a href="#" class="aa-top-slider-btn">Read More <span
                                    class="fa fa-angle-double-right"></span></a>
                        </div>-->
                        <!-- / Top slider content -->
                    </div>
                    <!-- / Top slider single slide -->
                    <!-- Top slider single slide -->
                    <div class="aa-top-slider-single">
                        <img src="img/slider/fondo.jpg" alt="img">
                        <!-- Top slider content 
                        <div class="aa-top-slider-content">
                            <span class="aa-top-slider-catg">Duplex</span>
                            <h2 class="aa-top-slider-title">1560 Square Feet</h2>
                            <p class="aa-top-slider-location"><i class="fa
                                    fa-map-marker"></i>Quito, Ecuador</p>
                            <span class="aa-top-slider-off">30% OFF</span>
                            <p class="aa-top-slider-price">$460,000</p>
                            <a href="#" class="aa-top-slider-btn">Read More <span
                                    class="fa fa-angle-double-right"></span></a>
                        </div>-->
                        <!-- / Top slider content -->
                    </div>
                    <!-- / Top slider single slide -->
                </div>
            </div>
        </section>
        <!-- End slider  -->

        <!-- Advance Search -->
        <section id="aa-advance-search">
            <div class="container">
                <div class="aa-advance-search-area">
                    <h3 class="text-center"><b>BIENVENIDO A TU NUEVA CASA</b></h3>
                    <h4 class="text-center"><b>Compra, renta o vende inmuebles</b></h4></br>
                    <div class="form">
                        <div class="aa-advance-search-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="aa-single-advance-search">
                                        <input type="text" placeholder="Ubicación">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="aa-single-advance-search">
                                        <select>
                                            <option selected>Tipo Inmueble</option>
                                            <option>Casa </option>
                                            <option>Departamento </option>
                                            <option>En Desarrollo</option>
                                            <option>Local</option>
                                            <option>Oficina</option>
                                            <option>Suite</option>
                                            <option>Villa</option>
                                            <option>Terreno</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="aa-single-advance-search">
                                        <select>
                                            <option value="0" selected>Opción</option>
                                            <option value="1">Venta</option>
                                            <option value="2">Arriendo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="aa-single-advance-search">
                                        <select>
                                            <option value="0" selected>Habitaciones</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="4">+5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="aa-single-advance-search">
                                        <input class="aa-search-btn" type="submit"
                                            value="Buscar">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="aa-advance-search-bottom">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="aa-single-filter-search">
                                        <span>AREA (m2)</span>
                                        <span>DESDE</span>
                                        <span id="skip-value-lower" class="example-val">30.00</span>
                                        <span>HASTA</span>
                                        <span id="skip-value-upper" class="example-val">100.00</span>
                                        <div id="aa-sqrfeet-range" class="noUi-target
                                            noUi-ltr noUi-horizontal noUi-background">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="aa-single-filter-search">
                                        <span>PRECIO ($)</span>
                                        <span>DESDE</span>
                                        <span id="skip-value-lower2"
                                            class="example-val">30.00</span>
                                        <span>HASTA</span>
                                        <span id="skip-value-upper2"
                                            class="example-val">100.00</span>
                                        <div id="aa-price-range" class="noUi-target
                                            noUi-ltr noUi-horizontal noUi-background">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / Advance Search -->

        <!-- Latest property -->
        <section id="aa-latest-property">
            <div class="container">
                <div class="aa-latest-property-area">
                    <div class="aa-title">
                        <h2>Ultimos Anuncios</h2>
                        <span></span>
                    </div>
                    <div class="aa-latest-properties-content">
                        <div class="row">
                            <div class="col-md-4">
                                <article class="aa-properties-item">
                                    <a href="#" class="aa-properties-item-img">
                                        <img src="img/item/dep1.jpg" alt="img">
                                    </a>
                                    <div class="aa-tag for-sale">
                                    En Venta
                                    </div>
                                    <div class="aa-properties-item-content">
                                        <div class="aa-properties-info">
                                            <span>5 Cuartos</span>
                                            <span>2 Dormitorios</span>
                                            <span>3 Baños</span>
                                            <span>1100 m2</span>
                                        </div>
                                        <div class="aa-properties-about">
                                            <h3><a href="#">Departamento en Quito</a></h3>
                                            <p>Departamento amplio y acogedor ubicado en edificio muy familiar. Muy cómodo. ¡con mucha iluminación y con entrada de sol de la mañana!</p>
                                        </div>
                                        <div class="aa-properties-detial">
                                            <span class="aa-price">
                                                $35000
                                            </span>
                                            <a href="#" class="aa-secondary-btn">Ver Publicación</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="aa-properties-item">
                                    <a href="#" class="aa-properties-item-img">
                                        <img src="img/item/dep2.jpg" alt="img">
                                    </a>
                                    <div class="aa-tag for-rent">
                                        En Renta
                                    </div>
                                    <div class="aa-properties-item-content">
                                        <div class="aa-properties-info">
                                            <span>5 Cuartos</span>
                                            <span>2 Dormitorios</span>
                                            <span>3 Baños</span>
                                            <span>1100 m2</span>
                                        </div>
                                        <div class="aa-properties-about">
                                            <h3><a href="#">Departamento en Quito</a></h3>
                                            <p>Departamento amplio y acogedor ubicado en edificio muy familiar. Muy cómodo. ¡con mucha iluminación y con entrada de sol de la mañana!</p>
                                        </div>
                                        <div class="aa-properties-detial">
                                            <span class="aa-price">
                                                $11000
                                            </span>
                                            <a href="#" class="aa-secondary-btn">Ver Publicación</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="aa-properties-item">
                                    <a href="#" class="aa-properties-item-img">
                                        <img src="img/item/casa.jpg" alt="img">
                                    </a>
                                    <div class="aa-tag for-sale">
                                    En Venta
                                    </div>
                                    <div class="aa-properties-item-content">
                                        <div class="aa-properties-info">
                                            <span>5 Cuartos</span>
                                            <span>2 Dormitorios</span>
                                            <span>3 Baños</span>
                                            <span>1100 m2</span>
                                        </div>
                                        <div class="aa-properties-about">
                                            <h3><a href="#">Casa en Quito</a></h3>
                                            <p>Hermosa casa independiente de venta en Pifo acabados de primera y estilo minimalista. Con todos los servicios</p>
                                        </div>
                                        <div class="aa-properties-detial">
                                            <span class="aa-price">
                                                $150000
                                            </span>
                                            <a href="#" class="aa-secondary-btn">Ver Publicación</a>
                                        </div>
                                    </div>
                                </article>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / Latest property -->

        <!-- Service section -->
        <section id="aa-service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-service-area">
                            <div class="aa-title">
                                <h2>Servicios</h2>
                                <span></span>
                            </div>
                            <!-- service content -->
                            <div class="aa-service-content">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-home"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4><a href="#">Propiedades en Venta</a></h4>
                                                <p>Busca Propiedades para adquirir de acuerdo a tus necesidades y las de tu familia.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4><a href="#">Propiedades en Alquiler</a></h4>
                                                <p>Encuentra un lugar ideal para rentar segun tus necesidades y las de tu familia.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-crosshairs"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4><a href="#">Propiedades en Desarrollo</a></h4>
                                                <p>Busca inmuebles que se encuentran en desarrollo segun tus necesidades y las de tu familia.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-bar-chart-o"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4><a href="#">Analisis de Mercado</a></h4>
                                                <p>Conoce la situación actual en el mercado inmobiliario y compara las ofertas y demandas dentro del mismo.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / Service section -->

        <!-- Latest blog -->
        <section id="aa-latest-blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-latest-blog-area">
                            <div class="aa-title">
                                <h2>Publica tu Inmueble</h2>
                                <span></span>
                                <p>Registrate y ten la opción de publicar tus inmuebles,
                                    ya sea como Constructura/Inmobiliaria, Agente o
                                    Propietario!</p>
                            </div>
                            <div class="aa-latest-blog-content">
                                <div class="row">
                                    <!-- start single blog -->
                                    <div class="col-md-4">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="#"><img
                                                        src="img/1.jpg"
                                                        alt="img"></a>
                                                <span class="aa-date-tag">Constructora/Inmobiliaria</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3>Constructora/Inmobiliaria</h3>
                                                <p>Si eres constructor o inmobiliaria
                                                    podrás</br>
                                                    Publicar todos tus proyectos y
                                                    modelos.</br>
                                                    Acceder a tu área privada para
                                                    gestionar tus anuncios (publicar,
                                                    editar, activar, desactivar,
                                                    eliminar, etc.).</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a href="signupC" class="aa-blog-author"><i
                                                            class="fa fa-user"></i>
                                                        Registrarse</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- start single blog -->
                                    <div class="col-md-4">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="#"><img
                                                        src="img/3.jpg"
                                                        alt="img"></a>
                                                <span class="aa-date-tag">Agente</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3>Agente</h3>
                                                <p>Si eres agente podrás</br>
                                                    Publicar todos tus inmuebles.</br>
                                                    Acceder a tu área privada para gestionar tus anuncios 
                                                    (publicar, editar, activar, desactivar, eliminar, etc.).</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a href="/signupA" class="aa-blog-author"><i
                                                            class="fa fa-user"></i>
                                                        Registrarse</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- start single blog -->
                                    <div class="col-md-4">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="/signup"><img
                                                        src="img/2.jpg"
                                                        alt="img"></a>
                                                <span class="aa-date-tag">Propietario</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3>Propietario</h3>
                                                <p>Si eres propietario podrás</br>
                                                    Publicar tus anuncios.</br>
                                                    Acceder a tu área privada para gestionar tus anuncios 
                                                    (publicar, editar, activar, desactivar, eliminar, etc.).</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a href="/signup" class="aa-blog-author"><i
                                                            class="fa fa-user"></i>
                                                        Registrarse</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / Latest blog -->

        <!-- Footer -->
        <footer id="aa-footer">
            <div class="container text-center">
            <div class="row mx-auto">
                <div class="col-md-12">
                <div class="aa-footer-area">
                    <div class="aa-footer-left">
                    <p>Designed by MarkUps.io</p>
                    </div>      
                </div>
                </div>
            </div>
            </div>
        </footer>

         {{>chatBot}}



        <!-- / Footer -->

 <!--       <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/slick.js"></script>
        <script type="text/javascript" src="js/nouislider.js"></script>
        <script type="text/javascript" src="js/jquery.mixitup.js"></script>
        <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>-->