<!-- Start header section -->
<header id="aa-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-header-area">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="aa-header-right">
                <a href="/signup" class="aa-register">Registro</a>
                <a href="/signin" class="aa-login">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End header section -->

<!-- Start menu section -->
<section id="aa-menu-area">
  <nav class="navbar navbar-default main-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- LOGO -->
        <!-- Text based logo -->
        <a class="navbar-brand aa-logo" href="/"> Inmobiliaria <span>360°</span></a>
        <!-- Image based logo -->
        <!-- <a class="navbar-brand aa-logo-img" href="index.html"><img src="img/logo.png" alt="logo"></a> -->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="top-menu" class="nav navbar-nav navbar-right
          aa-main-nav">
          <li class="active"><a href="/">INICIO</a></li>
          <li><a href="/inmuebles">INMUEBLES</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">REGISTRO
              <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/signin">INICIAR SESIÓN</a></li>
              <li><a href="/signup">REGISTRAR</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</section>
<!-- End menu section -->

<!-- Start Proerty header  -->

<section id="aa-property-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-property-header-inner">
          <h2>INMUEBLES</h2>
          <ol class="breadcrumb">
            <li><a href="#">COMPRA</a></li>
            <li class="active">ALQUILER</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Proerty header  -->

<!-- Start Properties  -->
<section id="aa-properties">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="aa-properties-content">
          <!-- start properties content head -->
          <div class="aa-properties-content-head">
            <div class="aa-properties-content-head-left">
              <form action="" class="aa-sort-form">
                <label for="">Ordenar por:</label>
                <select name="">
                  <option value="1" selected="Default">Defecto</option>
                  <option value="2">Nombre</option>
                  <option value="3">Precio</option>
                  <option value="4">Fecha</option>
                </select>
              </form>
              <form action="" class="aa-show-form">
                <label for="">Mostrar:</label>
                <select name="">
                  <option value="1" selected="6">6</option>
                  <option value="2">12</option>
                  <option value="3">24</option>
                </select>
              </form>
            </div>
            <div class="aa-properties-content-head-right">
              <a id="aa-grid-properties" href="#"><span class="fa fa-th"></span></a>
              <a id="aa-list-properties" href="#"><span class="fa fa-list"></span></a>
            </div>
          </div>
          <!-- Start properties content body -->
          <div class="aa-properties-content-body">
            <ul class="aa-properties-nav">
              <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/casa.jpg">
                  </a>
                  <div class="aa-tag for-rent">
                    For Rent
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="/detalle">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
              <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/dep1.jpg">
                  </a>
                  <div class="aa-tag sold-out">
                    Sold Out
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="#">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
              <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/dep2.jpg">
                  </a>
                  <div class="aa-tag sold-out">
                    Sold Out
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="/detalle">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
              <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/dep5.jpg">
                  </a>
                  <div class="aa-tag for-sale">
                    For Sale
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="#">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
              <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/dep3.jpg">
                  </a>
                  <div class="aa-tag for-rent">
                    For Rent
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="#">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
              <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/dep4.jpg">
                  </a>
                  <div class="aa-tag for-sale">
                    For Sale
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="#">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
            </ul>
          </div>
          <!-- Start properties content bottom -->
          <div class="aa-properties-content-bottom">
            <nav>
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- Start properties sidebar -->
      <div class="col-md-4">
        <aside class="aa-properties-sidebar">
          <!-- Start Single properties sidebar -->
          <div class="aa-properties-single-sidebar">
            <h3>Buscar Inmueble</h3>
            <form action="">
              <div class="aa-single-advance-search">
                <input type="text" placeholder="Ubicación">
              </div>
              <div class="aa-single-advance-search">
                <select>
                  <option value="0" selected>Tipo Inmueble</option>
                  <option value="1">Casa</option>
                  <option value="2">Departamento</option>
                  <option value="3">Residencial</option>
                  <option value="4">Oficina</option>
                  <option value="5">Desarrollo</option>
                </select>
              </div>
              <div class="aa-single-advance-search">
                <select>
                  <option value="0" selected>Opción</option>
                  <option value="1">Venta</option>
                  <option value="2">Arriendo</option>
                </select>
              </div>
              <div class="aa-single-advance-search">
                <select>
                  <option value="0" selected>Habitaciones</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="4">+5</option>
                </select>
              </div>
              <div class="aa-single-filter-search">
                <span>AREA (m2)</span>
                <span>DESDE</span>
                <span id="skip-value-lower" class="example-val">30.00</span>
                <span>HASTA</span>
                <span id="skip-value-upper" class="example-val">100.00</span>
                <div id="aa-sqrfeet-range" class="noUi-target
                  noUi-ltr noUi-horizontal noUi-background">
                </div>
              </div>
              <div class="aa-single-filter-search">
                <span>PRECIO ($)</span>
                <span>DESDE</span>
                <span id="skip-value-lower2"
                  class="example-val">30.00</span>
                <span>HASTA</span>
                <span id="skip-value-upper2"
                  class="example-val">100.00</span>
                <div id="aa-price-range" class="noUi-target
                  noUi-ltr noUi-horizontal noUi-background">
                </div>
              </div>
              <div class="aa-single-advance-search">
                <input type="submit" value="Buscar" class="aa-search-btn">
              </div>
            </form>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- / Properties  -->